
 @font-face {
      font-family: Domaine;
      src: url(../fonts/dfont.ttf);
    }

html, body {
	width: 100%;
	height: 100%;

}
body {

}

.wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

.centered-stuff{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/******** hero styling *******/
.hero-screen{
background-color: black;
color: white;
height: 100vh;
width: 100%;
font-family: Domaine, serif;
background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-image: url(../images/bikesmaller.jpg);
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 color:#fff;
	
}

.hero{
font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 9vw;
	font-weight: bold;
	margin: 0;
	white-space: nowrap;
	padding: 0 20px;
	max-height: 100px;
}

.title {
	padding-bottom: 0;
	margin: 0;
}

.tagline {
	margin: 0;
	text-align: center;
	font-size: 3.5vw;
}

.tagline-container{
	width: 100%;
	margin: 17px auto;
	
}

@media (min-width: 600px) {
	.hero{
		height: 14vw;
		max-height: 100px;
	}

	.tagline{
		font-size: 19px;
		font-weight: 200;
	}
	}


	@media (min-width: 1025px) {
	
.hero{
	font-size: 90px;
	max-height: 125px;
}

	.tagline-container{
		padding-top: 0;
		padding-bottom: 20;
	}

	.tagline {
	font-size: 20px;
}
}


.black-overlay{
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  height: 100%;
}

/***** button styling *****/
.custom-button{
	display: inline-block;
	width: 230px;
	margin: 0 auto;
	padding: 15px 26px 15px 26px;
	margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    letter-spacing: 4px;
    transition: padding 0.2s ease;
    box-shadow: inset 0 0 0 0 #31302B;
}

.custom-button:hover{
	padding-left: 55px;
	padding-right: 0;
}

.button-column{
	display: block;
	margin: 0 auto;
	text-align: center;
 }

 .border{

 }

@media (min-width: 600px) {
.custom-button{
    border-width: 2px;  
}


 
.custom-button:hover{
padding: 15px 26px 11px 31px;
/*background: white;
transition: all 0.5s ease;*/
color: black;
box-shadow: inset 0 100px 0 0 #ffffff;
    -webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s
}
}

/********** Footer Styling ********/

footer {
position: absolute;
bottom: 0;
width: 100%;
overflow:hidden;
text-align: center;
font-size: 14px;
}

footer a:visited{
	color: white;
}
footer a:hover{
	color: #8a8a8a;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s
}



@media (min-width: 600px) {
	.footer{
		float: right;
		margin-right: 30px;
		letter-spacing: 3px;
	}
	footer a{
	text-decoration: none;
}
footer a:hover{
	color: #8a8a8a;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s
}
	}

/****** Verticle type styling *********/

/*.verticle-text{
	opacity: 0;
	height: 0;
	width: 0;
	 position: fixed;
    bottom: 58px;
    left: 41px;
    text-align: left;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media (min-width: 1025px) {
	.verticle-text{
	opacity: 1;
	width: 200px;
    height: 30px;
    margin: 0;
    color: #fff;
    position: fixed;
    bottom: 58px;
    left: 41px;
    text-align: left;
    font-size: 14px;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
	}
}*/

/********* Portfolio Section *********/

.portfolio{
background-color: rgba(0,0,0,0.1);
height: 100%;
color: black;
margin: 0;

}

.section-title{
	text-align: center;
	padding-top: .6em;
	font-size: 1.25em;
}

.portfolio-desc-box{
background-color: rgba(0,0,0,0.3);
display: block;
/*Come back and figure out why I couldn't get this to center w/0 float none??*/
float: none;
margin: 0 auto;
width: 100%;
}

.portfolio-desc-box h3 {
	font-size: 1em;
	padding-left: 1em;
}

.portfolio-line{
	border-color: blue;
	width: 8%;

}
.portfolio-background{

}

.portfolio-list{
	list-style: none;
	padding: 0;

}
.portfolio-desc-box:hover{
/*	box-shadow: 0px 1px 0px red;*/
-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s

}

.portfolio-info{
	padding-left: 1em;
}

/******* Take a look at this later to see if you can figure out how to use 
after and before to make the lines ********/

/*.portfolio-desc-box:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100px														;
    background-color: #ff5a5a;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}*/

.portfolio-desc-box:hover .portfolio-line{

	width: 16%;
	transition: all .5s .5s ease-out;
}

.bottom-line{
	height: 1px;
	background-color: red;
	border: 0;
	width: 100%;

}

@media (min-width: 600px){


.portfolio-desc-box{
	display: inline-block;
	text-align: left;
	float: none;

}
}

/************ About me section *************/
.about-me{
	background-color: rgba(0,0,0,0.8);
	display: inline-block;
}
.about-me-content{

}

.about-me-text{

}

.about-me-img-wrapper{
	display: none;
}
.self-photo{
	border-radius: 30px;
}

@media (min-width: 600px){
.about-me-img-wrapper{
	display: inline-block;
	text-align: center;
}

	}

@media (min-width: 1025px){
	
	}